.contenedor {
    max-height: calc(100vh - 180px);
    overflow-y: auto;
}
.contenedor::-webkit-scrollbar {
	width: 7px;
}

.contenedor::-webkit-scrollbar-thumb {
	background: #8190e0;
	border-radius: 5px;
}

