<body>
  <div
    *ngIf="!auth.canSuper(auth.user$ | async) && !auth.canDelete(auth.user$ | async) &&  !auth.canEdit(auth.user$ | async); else principal">
    <div class="shadow container bg-light mt-5">
      <div class="row m-2">
        <div class="col-md-6 topmargin-sm">
          <h3>Estas listo para iniciar? <b>contáctanos.</b></h3>
          <p>
            Rellene el formulario y nos comunicaremos con usted. Envíanos tus sugerencias al correo
            electrónico: <b>pretellgf@gpsoft.org</b>
          </p>
        </div>
        <div class="col-md-6 mt-4">
          <form [formGroup]="pedidosForm">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <input type="text" oninput="this.value = this.value.toUpperCase()" class="form-control" id="name"
                    formControlName="nombres" placeholder="Nombres" />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input type="text" oninput="this.value = this.value.toUpperCase()" class="form-control" id="lastname"
                    formControlName="apellidos" placeholder="Apellidos" />
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <input type="email" class="form-control" id="email" formControlName="correo" placeholder="Correo" />
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <input type="text" oninput="this.value = this.value.toUpperCase()" class="form-control" id="company"
                    formControlName="diocesis" placeholder="Nombre de la Diócesis" />
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <input type="text" oninput="this.value = this.value.toUpperCase()" class="form-control" id="parroquia"
                    formControlName="parroquia" placeholder="Parroquia Principal" />
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <input
                    oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                    type="number" maxlength="9" minlength="9" class="form-control" formControlName="celular" id="phone"
                    placeholder="Celular" />
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <small id="emailHelp" class="form-text text-muted">*Todos los campos son
                    obligatorios.</small>
                </div>
              </div>
  
              <div class="col-md-12 mb-4">
                <button class="btn btn-dark full-width" (click)="alerta()" [disabled]="!pedidosForm.valid">Enviar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <ng-template #principal>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3 mb-2">
          <div class="row justify-content-between">
            <div class="col-4">
              <p><strong>Parroquias</strong></p>
            </div>
            <div class="col-4 text-right" *ngIf="auth.canDelete(auth.user$ | async)">
              <a href="#" class="badge badge-primary" ><i class="fa fa-file-o" aria-hidden="true" > </i> Nuevo
              </a>
            </div>
          </div>
          <input type="search" class="form-control text-uppercase mb-3" placeholder="Buscar Parroquias"
            [(ngModel)]="searchDoc.nombre" />
          <ng-container *ngIf="parroquias$ | async as parroquias">
            <div class="col-md-11 modal-body2">
              <div class="media" *ngFor="let parroquia of parroquias | filterBy: searchDoc">
                <div class="media-body">
                  <div class="d-flex w-100 justify-content-between">
                    <small  [ngStyle]="{ color: getColor(parroquia.estado) }">
                      <i class="fa fa-file-text-o" aria-hidden="true"></i>
                      <strong> {{ parroquia.nombre | uppercase }}</strong>
                    </small>
                    <span role="button" class="badge badge-info align-self-center">Detalles</span>
                  </div>
                  <p></p>
                  <hr />
                </div>
              </div>
            </div>
          </ng-container>
          <hr />
          <h6>¿Qué documentos debo agregar?</h6>
          <p class="text-muted small mt-3">
            <strong>SINDEX </strong>trabaja con plantillas personalizadas
            adecuadas para cada tipo de documento.
          </p>
          <p class="text-muted small mt-0">
            Si desea agregar un nuevo documento, usted deberá crear su propia
            plantilla siguiendo estos pasos:
          </p>
          <button type="button" class="btn btn-outline-primary btn-sm">
            Crear Plantillas...
          </button>
        </div>
        <div class="col-md-9 mb-3 bg-light">
          <br />
          <h4>
            <em> {{ diocesis?.nombre | uppercase }}</em>
          </h4>
          <ngx-charts-advanced-pie-chart  [view]="view" [results]="midata"
            (select)="onSelect($event)" (activate)="onActivate($event)" (deactivate)="onDeactivate($event)">
          </ngx-charts-advanced-pie-chart>
          <hr />
          <div class="row">
            <div class="col-8">
              <div class="shadow card">
                <div class="card-body">
                  <h5 class="card-title">Seleccione una parroquia e inicie...</h5>
                  <p class="card-text">
                    <strong>SINDEX</strong>, le permite crear de forma ilimitada
                    las diferentes parroquias que cada diócesis tiene a su cargo.
                  </p>
                  <button (click)="goParroquia()" class="btn btn-primary">
                    Mi Parroquia
                  </button>
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="shadow alert alert-warning alert-dismissible fade show" role="alert">
                <strong>Importante!</strong> Antes de iniciar, usted puede descargar el manual de usuario.
                  <a href="#" class="badge badge-primary">Descargar</a>
           
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</body>