<!-- <nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item text-primary"><a role="button" (click)="goParroquia()">Parroquia</a></li>
    <li class="breadcrumb-item text-primary"><a role="button" (click)="goDocumentos()">Documentos</a></li>
    <li class="breadcrumb-item active" aria-current="page">Libros</li>
  </ol>
</nav>

<div class="shadow-lg swiper-container">
  <div class="swiper-wrapper">
    <div class="swiper-slide" style="background-image:url(https://swiperjs.com/demos/images/nature-1.jpg)"></div>
    <div class="swiper-slide" style="background-image:url(https://swiperjs.com/demos/images/nature-2.jpg)"></div>
    <div class="swiper-slide" style="background-image:url(https://swiperjs.com/demos/images/nature-3.jpg)"></div>
    <div class="swiper-slide" style="background-image:url(https://swiperjs.com/demos/images/nature-4.jpg)"></div>
    <div class="swiper-slide" style="background-image:url(https://swiperjs.com/demos/images/nature-5.jpg)"></div>
  </div>

  <div class="swiper-pagination"></div>
</div> -->

<div class="container">
  <div class="shadow card">
    <div class="imgBx" data-text="BAUTISMO" >
      <img src="../../assets/sketch.png" alt="">
    </div>
    <div class="content">
      <div>
        <h3>BAUTISMO</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta at nesciunt itaque, officiis deserunt dolorem cupiditate quaerat possimus exercitationem ullam. Minima, quisquam fuga adipisci reprehenderit vel error animi iusto fugit?</p>
        <a href="#">Read More</a>
      </div>
    </div>
  </div>
  <div class="shadow card">
    <div class="imgBx" data-text="MATRIMONIO" >
      <img src="../../assets/startup.png" alt="">
    </div>
    <div class="content">
      <div>
        <h3>MATRIMONIO</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta at nesciunt itaque, officiis deserunt dolorem cupiditate quaerat possimus exercitationem ullam. Minima, quisquam fuga adipisci reprehenderit vel error animi iusto fugit?</p>
        <a href="#">Read More</a>
      </div>
    </div>
  </div>
  <div class="shadow card">
    <div class="imgBx" data-text="CONFIRMACIÓN" >
      <img src="../../assets/data.png" alt="">
    </div>
    <div class="content">
      <div>
        <h3>CONFIRMACIÓN</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta at nesciunt itaque, officiis deserunt dolorem cupiditate quaerat possimus exercitationem ullam. Minima, quisquam fuga adipisci reprehenderit vel error animi iusto fugit?</p>
        <a href="#">Read More</a>
      </div>
    </div>
  </div>
  <div class="shadow card">
    <div class="imgBx" data-text="DEFUNCIÓN" >
      <img src="../../assets/money.png" alt="">
    </div>
    <div class="content">
      <div>
        <h3>DEFUNCIÓN</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta at nesciunt itaque, officiis deserunt dolorem cupiditate quaerat possimus exercitationem ullam. Minima, quisquam fuga adipisci reprehenderit vel error animi iusto fugit?</p>
        <a href="#">Read More</a>
      </div>
    </div>
  </div>
</div>