<div class="mt-2" style="width: 100%; height: 80vh;">
    <as-split direction="horizontal">
        <as-split-area size="20" class="contenedor">
            <div class="row">
                <div class="col">
                    <div class="shadow card bg-info text-white text-center m-2">
                        <h4> Documento {{documento}}</h4>
                        <small>
                            <cite title="Source Title">*Filtrar Documentos</cite>
                        </small>
                    </div>
                    <hr class="mx-5">
                    <form>
                        <ng-container *ngFor="let data of campos">
                            <div class="form-row" *ngIf="data.estado == true">
                                <ng-container [ngSwitch]="data.tipo">
                                    <div dragula="DRAGULA_FACTS" class="w-100">
                                        <ng-container *ngSwitchCase="'numerico'">
                                            <div class="col mb-3" style="cursor: pointer;">
                                                <label for="{{data.nombre}}">{{data.nombre}}</label>
                                                <input type="number"
                                                    class="form-control text-uppercase field-focus border border-info"
                                                    name="{{data.nombre}}" [(ngModel)]="searchObject[data.nombre]" (keyup.enter)="keytab($event)"
                                                    autofocus />
                                            </div>
                                        </ng-container>
                                        <ng-container *ngSwitchDefault>
                                            <div class="col mb-3" style="cursor: pointer;">
                                                <label for="{{data.nombre}}">{{data.nombre}}</label>
                                                <input type="text"
                                                    class="form-control text-uppercase field-focus border border-info"
                                                    oninput="this.value = this.value.toUpperCase()"
                                                    name="{{data.nombre}}" [(ngModel)]="searchObject[data.nombre]" (keyup.enter)="keytab($event)"
                                                    autofocus />
                                            </div>
                                        </ng-container>
                                    </div>
                                </ng-container>
                            </div>
                        </ng-container>
                    </form>
                    <div class="text-info text-center mt-0">
                        <small>
                            <cite title="Source Title">*Filtrar Documentos</cite>
                        </small>
                    </div>
                </div>
            </div>
        </as-split-area>
        <as-split-area size="80" class="m-2">
            <div class="table-responsive">
                <table class="table table-hover mt-3 text-center">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col" *ngFor="let column of campos | filterBy: userFilterF">
                                {{column.nombre | uppercase}}
                            </th>
                            <th scope="col">ACCIONES</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            *ngFor="let item of registros | filterBy: searchObject | paginate: { itemsPerPage: 5, currentPage: p }; let i = index">
                            <td>{{ 5 * (p -1) + i + 1}} </td>
                            <td *ngFor="let col of campos | filterBy: userFilterF">
                                {{item[col.nombre] }}
                            </td>
                            <td>
                                <button class="btn btn-outline-primary btn-sm mr-2"
                                    (click)="enableEditing($event, item)">
                                    <i class="fa fa-pencil"></i> Edit</button>

                                <button class="btn btn-outline-danger btn-sm" (click)="deleteRegistro(item)">
                                    <i class="fa fa-trash"></i> Delete</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <pagination-controls (pageChange)="p = $event" *ngIf="(registros).length > 0">
                </pagination-controls>
            </div>
        </as-split-area>
    </as-split>
</div>
<div #myModalEditS class="modal fade" id="myModalEditS" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document" *ngIf="campos as temporal;">
        <div class="modal-content">
            <form class="form" (ngSubmit)="updateRegistroS()">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Editar Registros</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form">
                        <div *ngFor="let col of temporal| filterBy: userFilterF">
                            <div class="form-group" *ngIf="col.estado !== 'principal' ">
                                <label class="col-xs-4 control-label">
                                    <strong>{{col.nombre}}</strong>
                                </label>
                                <div class="col-xs-8">
                                    <div [ngSwitch]="col.tipo">
                                        <div *ngSwitchCase="'numerico'">
                                            <input type="number" class="form-control text-uppercase"
                                                [(ngModel)]="newObject[col.nombre]"
                                                [ngModelOptions]="{standalone: true}" />
                                        </div>
                                        <div *ngSwitchCase="'fecha'">
                                            <input type="date" placeholder="dd/mm/yyyy"
                                                class="form-control text-uppercase" [(ngModel)]="editObject[col.nombre]"
                                                [ngModelOptions]="{standalone: true}" />
                                        </div>
                                        <div *ngSwitchCase="'imagen'">
                                            <input type="file" class="form-control" [(ngModel)]="editObject[col.nombre]"
                                                [ngModelOptions]="{standalone: true}">
                                        </div>
                                        <div *ngSwitchDefault>
                                            <input type="text" enter class="form-control"
                                                oninput="this.value = this.value.toUpperCase()"
                                                [ngModelOptions]="{standalone: true}"
                                                [(ngModel)]="editObject[col.nombre]" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button class="btn btn-primary" type="submit">Actualizar</button>
                </div>
            </form>
        </div>
    </div>
</div>