<div class="container-fluid">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item text-primary"><a role="button" (click)="backClicked()">Parroquias</a></li>
      <li class="breadcrumb-item active" aria-current="page">Documentos</li>
    </ol>
  </nav>
    <div class="custom-control custom-switch">
      <form class="form-inline">
        <input type="checkbox" class="custom-control-input" id="customSwitch1"
        [(ngModel)]="checkBoxValue" [ngModelOptions]="{ standalone: true }">
        <label class="custom-control-label" for="customSwitch1">Estadísticas de {{message}}</label>
      </form>
    </div>
</div>
<ng-container *ngIf="!checkBoxValue; else grafica" >
  <div class="container" *ngIf="docs$ | async as docs" >
    <ng-container *ngFor="let doc of docs" >
      <div class="shadow card">
        <div class="imgBx" attr.data-text="{{doc.nombre}}">
          <img [src]="doc.path">
        </div>
        <div class="content">
          <div>
            <h3>{{doc.nombre}}</h3>
            <button type="button" class="btn btn-outline-dark mr-2" data-toggle="tooltip" data-placement="right" title="Editar" (click)="editDocumento(doc)" *ngIf="auth.canDelete(auth.user$ | async)">
              <i class="fa fa-cog" aria-hidden="true"></i>
            </button>
            <p>La partida de bautismo acredita que recibisteis el primer sacramento de la iglesia, por lo que es un documento imprescindible si estáis pensando en celebrar una boda religiosa. <br> </p>
            <!-- <a href="#" class="mr-2">Read More</a> -->
            <button class="btn btn-secondary btn-sm mr-3">Buscar</button>
            <button class="btn btn-dark btn-sm" (click)="goLibro(doc)" >Libros</button>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</ng-container>
<ng-template #grafica>
  <div class="container-fluid mt-4" *ngIf="documentos$ | async as documentos; else loading">
    <ng-container *ngIf="documentos.length > 0; else plantillas">
      <div class="row">
        <div class="col mt-3" >
          <div class="shadow-lg card">
            <div class="card-body">
              <h5 class="card-title">
                {{message}}
                <small class="text-muted">(avance del proyecto)</small>
              </h5>
              <div class="row justify-content-center align-items-center mt-4">
                <ngx-charts-bar-vertical (window:resize)="onResize($event)" [view]="view" [results]="documentos"
                  [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend"
                  [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [showDataLabel]="false"
                  [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" (select)="onSelect($event)">
                </ngx-charts-bar-vertical>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-template #plantillas>
      <div class="col-md-8 offset-md-2 mt-5">
        <div class="shadow alert alert-warning alert-dismissible fade show" role="alert">
          <strong>Importante!</strong> Actualmente no tienes ninguna plantilla para indexar.
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <div class="shadow-lg card text-center">
          <div class="card-body">
              <h5 class="card-title">Sistema de Indexación Parroquial</h5>
              <hr>
              <p class="card-text">Haga click en el siguiente enlace para agregar las
                  plantillas predeterminadas por el sistema.</p>
              <button (click)="agregarDocumentos()" class="btn btn-outline-dark">🖱
                  Agregar... </button>
  
          </div>
      </div>
      </div>
    </ng-template>
    
  </div>
</ng-template>
<ng-template #loading>
  <div class="d-flex justify-content-center mt-5">
    <div class="spinner-border text-info" role="status">
    </div>
    <strong class="text-info"> Loading... </strong>
  </div>
</ng-template>

<div #editModal class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form class="form" (ngSubmit)="updateDocumento(documentotoEdit)">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Editar Documento - {{documentotoEdit.name | titlecase}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                  <div class="row mb-3">
                    <div class="col">
                        <label for="total_aprox">Cantidad Aproximada:</label>
                        <input type="number" class="form-control" id="total_aprox" name="total_aprox"
                            [(ngModel)]="documentotoEdit.total_aprox">
                    </div>
                  </div>
                  <div class="custom-control custom-radio">
                    <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input" [(ngModel)]="documentotoEdit.plantilla" [value]="true">
                    <label class="custom-control-label" for="customRadio1">Usar plantilla predeterminada</label>
                  </div>
                  <div class="custom-control custom-radio">
                    <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input" [(ngModel)]="documentotoEdit.plantilla" [value]="false">
                    <label class="custom-control-label" for="customRadio2">Diseñar plantilla</label>
                  </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button class="btn btn-primary" type="submit">Guardar cambios</button>
                </div>
            </form>
        </div>
    </div>
</div>

<router-outlet></router-outlet>