<div  *ngIf="(miparroquia$) | async as estaparroquia; else loading">
    <ng-container >
      <div class="col-md-8 offset-md-2 mt-5">
        <div class="shadow-lg card">
          <h5 class="card-header bg-info text-white">{{estaparroquia.nombre | uppercase}}</h5>
          <div class="card-body">
            <div class="container-fluid">
              <div class="row justify-content-between mb-2">
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <strong><i class="fa fa-commenting-o" aria-hidden="true"></i> Mensaje!</strong> Para inigresar registros, click en el botón Documentos.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                  <button type="button" class="btn btn-outline-secondary align-self-center" (click)="goDocumentos(estaparroquia)" >Documentos 🖱</button>
              </div>
            </div>
            <a class="list-group-item list-group-item-action">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Información</h5>
                <span role="button" class="badge badge-info align-self-center" (click)="editParroquia(estaparroquia)" *ngIf="auth.canDelete(auth.user$ | async)">Editar</span>
              </div>
              <p class="mb-1">
                Banco: {{ estaparroquia.banco | uppercase }}<br />
                #Cuenta: {{ estaparroquia.cuenta }}
              </p>
              <small class="text-muted">Edite la información de su parroquia.</small>
            </a>
            <a class="list-group-item list-group-item-action">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Pagos</h5>
                <span role="button" class="badge badge-info align-self-center" (click)="goPago(estaparroquia)" *ngIf="auth.canDelete(auth.user$ | async)">Editar</span>
              </div>
              <p class="mb-1">
                Actualiza tus pagos y disfruta de todos nuestros beneficios.
              </p>
              <small class="text-muted">Se mostrarán los pagos. (Historial de Pagos)</small>
            </a>
            <a href="#" class="list-group-item list-group-item-action">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Promociones</h5>
                <span role="button" class="badge badge-info align-self-center" *ngIf="auth.canDelete(auth.user$ | async)">Editar</span>
              </div>
              <p class="mb-1">
                Adquiere nuestras actualizaciones y disfruta de todos los
                beneficios.
              </p>
              <small class="text-muted">Actualiza tu paquete actual.</small>
            </a>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
  <ng-template #loading>
    <div class="d-flex justify-content-center mt-5">
      <div class="spinner-border text-info" role="status">
      </div>
      <strong class="text-info"> Loading... </strong>
    </div>
  </ng-template>
 
  
  <router-outlet></router-outlet>
