<ng-container *ngIf="documento; else loading">
    <container-element [ngSwitch]="documento">
        <div *ngSwitchCase="'BAUTISMO'"><app-bautismo></app-bautismo></div>
        <div *ngSwitchCase="'CONFIRMACION'"><app-confirmacion></app-confirmacion></div>
        <div *ngSwitchCase="'DEFUNCION'"><app-defuncion></app-defuncion></div>
        <div *ngSwitchCase="'MATRIMONIO'"><app-matrimonio></app-matrimonio></div>
        <div *ngSwitchDefault><app-default></app-default></div>
    </container-element>
</ng-container>
<ng-template #loading>
    <div class="d-flex justify-content-center mt-5">
        <div class="spinner-border text-info" role="status">
        </div>
        <strong class="text-info"> Loading... </strong>
    </div>
</ng-template>