<ng-container *ngIf="documento; else loading">
    <container-element [ngSwitch]="documento">
        <div *ngSwitchCase="'BAUTISMO'"><app-bautismo></app-bautismo></div>
        <div *ngSwitchCase="'CONFIRMACION'"><app-confirmacion></app-confirmacion></div>
        <div *ngSwitchCase="'DEFUNCION'"><app-defuncion></app-defuncion></div>
        <div *ngSwitchCase="'MATRIMONIO'"><app-matrimonio></app-matrimonio></div>
        <div *ngSwitchDefault>error</div>
    </container-element>
</ng-container>
<ng-template #loading>
    <div class="d-flex justify-content-center mt-5">
        <div class="spinner-border text-info" role="status">
        </div>
        <strong class="text-info"> Loading... </strong>
    </div>
</ng-template>

<!-- <section class="container app-container">
    <div class="row">
      <div class="pill" *ngFor="let tab of tabs; let pos = index;"
           [ngClass]="{'pill-active': pos === activeTab}"
           (click)="changeTab(pos)"
      >
        {{tab.title}}
      </div>
    </div>
    <ng-container #figureContainer></ng-container>
  
  </section> -->