<div #myModalEdit class="modal fade" id="myModalEdit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <form class="form">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Editar Registro</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col">
                                    <label for="libro">Libro</label>
                                    <input type="number" class="form-control text-uppercase" id="libro" name="libro"
                                        [(ngModel)]="editarRegistro.libro" readonly>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label for="numreg">Registro</label>
                                    <input type="number" class="form-control text-uppercase" id="numreg" name="numreg"
                                        [(ngModel)]="editarRegistro.numeroreg" readonly>
                                </div>
                            </div>
                            <div class="row">
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label for="nombreEdit">Nombres</label>
                                    <input type="text" class="form-control text-uppercase" id="nombreEdit"
                                        oninput="this.value = this.value.toUpperCase()" name="nombreEdit"
                                        [(ngModel)]="editarRegistro.nombres">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label for="apellidosm">Apellidos</label>
                                    <input type="text" class="form-control text-uppercase" id="apellidosm"
                                        oninput="this.value = this.value.toUpperCase()" name="apellidosm"
                                        [(ngModel)]="editarRegistro.apellidos">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label for="lugar">Edad</label>
                                    <input type="text" class="form-control text-uppercase" id="edad" name="edad"
                                        [(ngModel)]="editarRegistro.edad">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label for="fecha">Fecha Confirmacion</label>
                                    <input type="date" class="form-control" id="fecha" name="fecha"
                                        [(ngModel)]="editarRegistro.fecha">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label for="fechanac">Fecha Registro</label>
                                    <input type="date" class="form-control" id="fechareg" name="fechareg"
                                        [(ngModel)]="editarRegistro.fechareg">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label for="nomPadre">Nombre Padre</label>
                                    <input type="text" class="form-control text-uppercase" id="nomPadre" name="nomPadre"
                                        [(ngModel)]="editarRegistro.nomPadre">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label for="apePadre">Apellidos Padre</label>
                                    <input type="text" class="form-control text-uppercase" id="apePadre" name="apePadre"
                                        [(ngModel)]="editarRegistro.apePadre">
                                </div>
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col">
                                    <label for="nomMadre">Nombre Madre</label>
                                    <input type="text" class="form-control text-uppercase" id="nomMadre" name="nomMadre"
                                        [(ngModel)]="editarRegistro.nomMadre">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label for="apeMadre">Apellido Madre</label>
                                    <input type="text" class="form-control text-uppercase" id="apeMadre" name="apeMadre"
                                        [(ngModel)]="editarRegistro.apeMadre">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label for="nomPadrino">Nombre Padrino</label>
                                    <input type="text" class="form-control text-uppercase" id="nomPadrino"
                                        name="nomPadrino" [(ngModel)]="editarRegistro.nomPadrino">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label for="apePadrino">Apellido Padrino</label>
                                    <input type="text" class="form-control text-uppercase" id="apePadrino"
                                        name="apePadrino" [(ngModel)]="editarRegistro.apePadrino">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label for="nomMadrina">Nombre Madrina</label>
                                    <input type="text" class="form-control text-uppercase" id="nomMadrina"
                                        name="nomMadrina" [(ngModel)]="editarRegistro.nomMadrina">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label for="apeMadrina">Apellido Madrina</label>
                                    <input type="text" class="form-control text-uppercase" id="apeMadrina"
                                        name="apeMadrina" [(ngModel)]="editarRegistro.apeMadrina">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label for="comentarios">Comentarios</label>
                                    <textarea class="form-control text-uppercase" aria-label="With textarea"
                                        id="comentarios" name="comentarios"
                                        [(ngModel)]="editarRegistro.comentarios"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>



                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button class="btn btn-primary" (click)="updateConfirmacion()">Save </button>
                </div>
            </form>
        </div>
    </div>
</div>